openapi: 3.1.0
info:
  title: StructEvidence Temporal Data API
  version: SE_API_v1
  description: Versioned read, protected-input, and controlled-proposal contract. Canonical Evidence, State, and Change objects are never exposed as CRUD resources.
servers:
  - url: https://structevidence.com/api/v1
tags:
  - name: Public
  - name: Customer input
  - name: Control plane
paths:
  /:
    get:
      tags: [Public]
      operationId: getCapabilities
      responses:
        '200': {description: Capability document, content: {application/json: {schema: {$ref: '#/components/schemas/CapabilityEnvelope'}}}}
  /subjects:
    get:
      tags: [Public]
      operationId: listSubjects
      responses:
        '200': {description: Sanitized public Subjects, content: {application/json: {schema: {$ref: '#/components/schemas/SubjectListEnvelope'}}}}
  /subjects/{subject_id}:
    parameters: [{$ref: '#/components/parameters/SubjectId'}]
    get:
      tags: [Public]
      operationId: getSubject
      responses:
        '200': {description: Sanitized Subject, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /subjects/{subject_id}/state:
    parameters:
      - $ref: '#/components/parameters/SubjectId'
      - name: as_of
        in: query
        schema: {type: string, format: date-time}
        description: Latest State with both observed_at and recorded_at at or before this boundary. published_at alone never makes information visible.
    get:
      tags: [Public]
      operationId: getCurrentOrHistoricalState
      responses:
        '200':
          description: Current recorded State, or State at the requested boundary; never a prediction, recommendation, or guarantee.
          headers: {ETag: {$ref: '#/components/headers/ETag'}}
          content: {application/json: {schema: {$ref: '#/components/schemas/StateEnvelope'}}}
        '304': {$ref: '#/components/responses/NotModified'}
        '404': {$ref: '#/components/responses/NotFound'}
  /subjects/{subject_id}/states:
    parameters:
      - $ref: '#/components/parameters/SubjectId'
      - {name: order, in: query, schema: {type: string, enum: [asc, desc], default: asc}}
    get:
      tags: [Public]
      operationId: listStateHistory
      responses:
        '200': {description: Chronological immutable State history, content: {application/json: {schema: {$ref: '#/components/schemas/ListEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /subjects/{subject_id}/changes:
    parameters: [{$ref: '#/components/parameters/SubjectId'}]
    get:
      tags: [Public]
      operationId: listSubjectChanges
      responses:
        '200': {description: Subject change feed, content: {application/json: {schema: {$ref: '#/components/schemas/ListEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /subjects/{subject_id}/evidence:
    parameters: [{$ref: '#/components/parameters/SubjectId'}]
    get:
      tags: [Public]
      operationId: listSubjectEvidence
      responses:
        '200': {description: Public Evidence with source fact, normalized claim, and review result separated, content: {application/json: {schema: {$ref: '#/components/schemas/ListEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /subjects/{subject_id}/branches:
    parameters: [{$ref: '#/components/parameters/SubjectId'}]
    get:
      tags: [Public]
      operationId: listSubjectBranches
      responses:
        '200': {description: Possibility branches without probabilities, content: {application/json: {schema: {$ref: '#/components/schemas/ListEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /changes:
    get:
      tags: [Public]
      operationId: listChanges
      parameters:
        - {name: subject_id, in: query, schema: {type: string}}
        - {name: since, in: query, schema: {type: string, format: date-time}}
        - {name: until, in: query, schema: {type: string, format: date-time}}
        - {name: materiality, in: query, schema: {type: string, enum: [MINOR, MATERIAL, STRUCTURAL]}}
        - {$ref: '#/components/parameters/Cursor'}
        - {$ref: '#/components/parameters/Limit'}
      responses:
        '200': {description: Deterministically cursor-paginated Change feed, content: {application/json: {schema: {$ref: '#/components/schemas/ListEnvelope'}}}}
        '400': {$ref: '#/components/responses/BadRequest'}
  /states/{state_id}:
    parameters: [{$ref: '#/components/parameters/StateId'}]
    get:
      tags: [Public]
      operationId: getState
      responses:
        '200': {description: Public immutable State, headers: {ETag: {$ref: '#/components/headers/ETag'}}, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '304': {$ref: '#/components/responses/NotModified'}
        '404': {$ref: '#/components/responses/NotFound'}
  /changes/{change_id}:
    parameters: [{$ref: '#/components/parameters/ChangeId'}]
    get:
      tags: [Public]
      operationId: getChange
      responses:
        '200': {description: Public immutable Change, headers: {ETag: {$ref: '#/components/headers/ETag'}}, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '304': {$ref: '#/components/responses/NotModified'}
        '404': {$ref: '#/components/responses/NotFound'}
  /evidence/{evidence_id}:
    parameters: [{$ref: '#/components/parameters/EvidenceId'}]
    get:
      tags: [Public]
      operationId: getEvidence
      responses:
        '200': {description: Public immutable Evidence, headers: {ETag: {$ref: '#/components/headers/ETag'}}, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '304': {$ref: '#/components/responses/NotModified'}
        '404': {$ref: '#/components/responses/NotFound'}
  /branches/{branch_id}:
    parameters: [{$ref: '#/components/parameters/BranchId'}]
    get:
      tags: [Public]
      operationId: getBranch
      responses:
        '200': {description: Public Branch, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /events:
    get:
      tags: [Public]
      operationId: listStructuralEventProjections
      parameters: [{$ref: '#/components/parameters/AsOf'}]
      responses:
        '200': {description: Derived Structural Event projection index, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
  /events/{event_id}:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get:
      tags: [Public]
      operationId: getStructuralEventProjection
      responses:
        '200': {description: Derived projection; no duplicate canonical storage, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '404': {$ref: '#/components/responses/NotFound'}
  /events/{event_id}/timeline:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventTimeline, responses: {'200': {description: Projected Change timeline, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/evidence:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventEvidence, responses: {'200': {description: Supporting and counter-Evidence projection, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/branches:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventBranches, responses: {'200': {description: Branch projection, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/unknowns:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventUnknowns, responses: {'200': {description: Open unknown projection, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/outcomes:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventOutcomes, responses: {'200': {description: Authorized public Outcome projection, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/proof:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventProof, responses: {'200': {description: Snapshot-chain proof projection, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/rdl:
    parameters: [{$ref: '#/components/parameters/EventId'}, {$ref: '#/components/parameters/AsOf'}]
    get: {tags: [Public], operationId: getEventRdlHistory, responses: {'200': {description: RDL provenance history with UNKNOWN cost semantics, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}}}
  /events/{event_id}/gaps:
    parameters: [{$ref: '#/components/parameters/EventId'}]
    get:
      tags: [Public]
      operationId: getEventDecisionGaps
      responses:
        '200': {description: Derived Decision Inventory with evidence, counter-evidence, and unknown counts}
        '404': {$ref: '#/components/responses/NotFound'}
  /atlas:
    get:
      tags: [Public]
      operationId: getTemporalAtlas
      parameters: [{$ref: '#/components/parameters/AsOf'}]
      responses:
        '200': {description: Cross-domain Temporal Atlas projection, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
  /requests:
    post:
      tags: [Customer input]
      operationId: submitRequest
      description: CUSTOMER_PRIVATE D1 submission. Idempotency-Key is supported. Public submission rate class is PUBLIC_SUBMISSION.
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/RequestInput'}}}}
      responses:
        '201': {description: Created, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '400': {$ref: '#/components/responses/BadRequest'}
        '413': {description: Payload too large}
        '429': {description: Rate limited}
  /requests/{request_id}:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    get:
      tags: [Customer input]
      operationId: getRequestStatus
      security: [{cloudflareAccess: []}]
      responses:
        '200': {description: Protected status-only view, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
  /challenges:
    post:
      tags: [Customer input]
      operationId: submitChallenge
      description: Stores CHALLENGE_SUBMITTED only; never mutates State.
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ChallengeInput'}}}}
      responses:
        '201': {description: Challenge submitted, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '400': {$ref: '#/components/responses/BadRequest'}
        '413': {description: Payload too large}
        '429': {description: Rate limited}
  /outcomes:
    post:
      tags: [Customer input]
      operationId: submitOutcome
      description: Stores a CUSTOMER_PRIVATE Outcome report; never rewrites state_id_used.
      parameters: [{$ref: '#/components/parameters/IdempotencyKey'}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/OutcomeInput'}}}}
      responses:
        '201': {description: Outcome reported, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '400': {$ref: '#/components/responses/BadRequest'}
        '413': {description: Payload too large}
        '429': {description: Rate limited}
  /decision-requests:
    post:
      tags: [Control plane]
      operationId: createDecisionRequest
      security: [{cloudflareAccess: []}]
      requestBody: {required: true, content: {application/json: {schema: {type: object, additionalProperties: false}}}}
      responses: {'201': {description: Customer-private decision request created}, '403': {$ref: '#/components/responses/Forbidden'}}
  /decision-requests/{request_id}/status:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    get:
      tags: [Control plane]
      operationId: getDecisionRequestStatus
      security: [{cloudflareAccess: []}]
      responses: {'200': {description: Protected state and gate status}, '403': {$ref: '#/components/responses/Forbidden'}}
  /decision-requests/{request_id}/preflight:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    post:
      tags: [Control plane]
      operationId: runDecisionPreflight
      security: [{cloudflareAccess: []}]
      responses: {'200': {description: Low-cost feasibility preflight}, '403': {$ref: '#/components/responses/Forbidden'}}
  /decision-requests/{request_id}/quote:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    post:
      tags: [Control plane]
      operationId: issueDecisionQuote
      security: [{cloudflareAccess: []}]
      responses: {'201': {description: Quote with expected and P90 cost or UNKNOWN}, '403': {$ref: '#/components/responses/Forbidden'}}
  /decision-requests/{request_id}/accept:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    post:
      tags: [Control plane]
      operationId: acceptDecisionQuote
      security: [{cloudflareAccess: []}]
      responses: {'200': {description: Quote accepted and payment pending}, '403': {$ref: '#/components/responses/Forbidden'}}
  /decision-requests/{request_id}/payment:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    post:
      tags: [Control plane]
      operationId: confirmDecisionPayment
      security: [{cloudflareAccess: []}]
      responses: {'200': {description: Manual payment confirmation recorded}, '403': {$ref: '#/components/responses/Forbidden'}}
  /decision-requests/{request_id}/rdl:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    post:
      tags: [Control plane]
      operationId: bindDecisionRdl
      security: [{cloudflareAccess: []}]
      responses: {'200': {description: Paid scope bound to cutoff, envelope, provenance, and caps}, '403': {$ref: '#/components/responses/Forbidden'}, '409': {description: Payment not confirmed}}
  /decision-requests/{request_id}/delivery:
    parameters: [{$ref: '#/components/parameters/RequestId'}]
    get:
      tags: [Control plane]
      operationId: getDecisionDelivery
      security: [{cloudflareAccess: []}]
      responses: {'200': {description: Protected determination and P1 proof}, '403': {$ref: '#/components/responses/Forbidden'}, '404': {$ref: '#/components/responses/NotFound'}}
  /context-fit:
    post:
      tags: [Control plane]
      operationId: scopeContextFit
      security: [{cloudflareAccess: []}]
      responses: {'201': {description: Architecture-only context-fit scope}, '403': {$ref: '#/components/responses/Forbidden'}}
  /watch-cycles:
    post:
      tags: [Control plane]
      operationId: createWatchCycle
      security: [{cloudflareAccess: []}]
      responses: {'201': {description: Bounded 30- or 90-day watch cycle}, '403': {$ref: '#/components/responses/Forbidden'}}
  /admin/proposals:
    post:
      tags: [Control plane]
      operationId: createProposal
      security: [{cloudflareAccess: []}]
      requestBody: {required: true, content: {application/json: {schema: {$ref: '#/components/schemas/ProposalInput'}}}}
      responses:
        '201': {description: Draft proposal, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '403': {$ref: '#/components/responses/Forbidden'}
  /admin/proposals/{proposal_id}:
    parameters: [{$ref: '#/components/parameters/ProposalId'}]
    get:
      tags: [Control plane]
      operationId: getProposal
      security: [{cloudflareAccess: []}]
      responses:
        '200': {description: Proposal status, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
  /admin/proposals/{proposal_id}/validate:
    parameters: [{$ref: '#/components/parameters/ProposalId'}]
    post:
      tags: [Control plane]
      operationId: validateProposal
      security: [{cloudflareAccess: []}]
      responses:
        '200': {description: API pre-validation; repository chain verification remains required, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '403': {$ref: '#/components/responses/Forbidden'}
        '404': {$ref: '#/components/responses/NotFound'}
  /admin/proposals/{proposal_id}/approve:
    parameters: [{$ref: '#/components/parameters/ProposalId'}]
    post:
      tags: [Control plane]
      operationId: approveProposal
      security: [{cloudflareAccess: []}]
      responses:
        '200': {description: Human approval; does not materialize or bypass repository verification, content: {application/json: {schema: {$ref: '#/components/schemas/DataEnvelope'}}}}
        '403': {$ref: '#/components/responses/Forbidden'}
        '409': {description: Proposal has not passed validation}
components:
  securitySchemes:
    cloudflareAccess: {type: apiKey, in: header, name: Cf-Access-Jwt-Assertion, description: JWT issuer, audience, and administrator allowlist are verified.}
  headers:
    ETag: {description: Quoted canonical state_hash, change_hash, or content_hash., schema: {type: string}}
  parameters:
    SubjectId: {name: subject_id, in: path, required: true, schema: {type: string, pattern: '^SE-SUBJ-[0-9]{6}$'}}
    StateId: {name: state_id, in: path, required: true, schema: {type: string, pattern: '^SE-ST-[0-9]{8}-[0-9]{6}$'}}
    ChangeId: {name: change_id, in: path, required: true, schema: {type: string, pattern: '^SE-CHG-[0-9]{8}-[0-9]{6}$'}}
    EvidenceId: {name: evidence_id, in: path, required: true, schema: {type: string, pattern: '^SE-EV-[0-9]{8}-[0-9]{6}$'}}
    BranchId: {name: branch_id, in: path, required: true, schema: {type: string, pattern: '^SE-BR-[0-9]{8}-[0-9]{6}$'}}
    EventId: {name: event_id, in: path, required: true, schema: {type: string, pattern: '^SE-EVENT-[0-9]{6}$'}}
    AsOf: {name: as_of, in: query, required: false, schema: {type: string, format: date-time}, description: Projection boundary applied to observed and recorded timestamps.}
    RequestId: {name: request_id, in: path, required: true, schema: {type: string}}
    ProposalId: {name: proposal_id, in: path, required: true, schema: {type: string}}
    Cursor: {name: cursor, in: query, schema: {type: string}, description: Opaque deterministic cursor.}
    Limit: {name: limit, in: query, schema: {type: integer, minimum: 1, maximum: 100, default: 25}}
    IdempotencyKey: {name: Idempotency-Key, in: header, required: false, schema: {type: string, minLength: 8, maxLength: 128}}
  responses:
    BadRequest: {description: Allowlist, timestamp, cursor, JSON, or field validation failed, content: {application/json: {schema: {$ref: '#/components/schemas/ErrorEnvelope'}}}}
    Forbidden: {description: Access or origin rejected, content: {application/json: {schema: {$ref: '#/components/schemas/ErrorEnvelope'}}}}
    NotFound: {description: Object did not exist in the sanitized projection, content: {application/json: {schema: {$ref: '#/components/schemas/ErrorEnvelope'}}}}
    NotModified: {description: If-None-Match matched the canonical hash}
  schemas:
    DataEnvelope:
      type: object
      required: [api_version, data, meta, links]
      properties: {api_version: {const: SE_API_v1}, data: {}, meta: {type: object}, links: {type: object}}
    ListEnvelope:
      allOf: [{$ref: '#/components/schemas/DataEnvelope'}]
    ErrorEnvelope:
      type: object
      required: [api_version, error]
      properties:
        api_version: {const: SE_API_v1}
        error:
          type: object
          required: [code, message, request_id]
          properties: {code: {type: string}, message: {type: string}, request_id: {type: string}}
    CapabilityEnvelope: {allOf: [{$ref: '#/components/schemas/DataEnvelope'}]}
    SubjectListEnvelope: {allOf: [{$ref: '#/components/schemas/DataEnvelope'}]}
    StateEnvelope: {allOf: [{$ref: '#/components/schemas/DataEnvelope'}]}
    RequestInput:
      type: object
      additionalProperties: false
      required: [subject, question, decision_context, urgency, requested_output, public_case_permission]
      properties:
        subject: {type: string}
        question: {type: string}
        decision_context: {type: string}
        urgency: {type: string, enum: [LOW, NORMAL, HIGH, URGENT]}
        requested_output: {type: string, enum: [EVIDENCE_CHAIN, STATE_HISTORY, CHANGE_REVIEW]}
        public_case_permission: {type: boolean}
    ChallengeInput:
      type: object
      additionalProperties: false
      required: [state_id, claim, evidence_url, notes]
      properties: {state_id: {type: string}, claim: {type: string}, evidence_url: {type: [string, 'null'], format: uri}, notes: {type: [string, 'null']}}
    OutcomeInput:
      type: object
      additionalProperties: false
      required: [request_id, state_id_used, action, reported_result, authorization_for_public_use]
      properties: {request_id: {type: string}, state_id_used: {type: string}, action: {type: string}, reported_result: {type: string}, authorization_for_public_use: {type: boolean, default: false}}
    ProposalInput:
      type: object
      additionalProperties: false
      required: [subject_id, proposed_evidence_ids, proposed_evidence, previous_state_id, previous_state_hash, proposed_state, proposed_change_event]
      properties: {subject_id: {type: string}, proposed_evidence_ids: {type: array, items: {type: string}}, proposed_evidence: {type: array, items: {type: object}}, previous_state_id: {type: string}, previous_state_hash: {type: string, pattern: '^[a-f0-9]{64}$'}, proposed_state: {type: object}, proposed_change_event: {type: object}}
